:root {
  --main-color: #bfebee;

  --primer-color: #e4feff;
  --text-color: #4763aa;

  --miner-color: #f8d326;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--main-color);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
#logo-img {
  height: 5rem;
  width: 16rem;
  margin: 5rem;
  margin-top: 3rem;
}

#header-container {
  margin: 12.5rem;
  border-radius: 30px;
  margin-top: 0px;
  margin-bottom: 8rem;
  background-image: linear-gradient(
      rgb(228, 254, 255, 0.42),
      rgba(228, 254, 255, 0.42)
    ),
    url("./img/pngaaa\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 33.6rem;
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.4);
}

#header-q {
  color: #4763aa;
  font-size: 6rem;
  text-shadow: -4px 1px 4px rgba(255, 255, 255, 0.8);
}
#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 5rem;
}
.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4feff;
  border-radius: 30px;
  color: #4763aa;
  height: 14rem;
  width: 35rem;
  margin-right: 2rem;
  font-weight: 900;
  font-size: 2rem;
  padding-left: 20px;
  text-transform: uppercase;
}
.eggs {
  height: auto;
  width: 100px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #header-container {
    margin: 5.5rem;
    margin-bottom: 8rem;
    height: 23.6rem;
    width: 90rem;
  }

  #header-q {
    font-size: 3rem;
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  #header-container {
    margin: 4.5rem;
    margin-top: 0px;
    margin-bottom: 5rem;
    height: 23.6rem;
    width: 75rem;
  }

  #header-q {
    font-size: 3rem;
  }
}
@media (min-width: 360px) and (max-width: 750px) {
  #header-container {
    margin: 2.5rem;
    margin-top: 0px;
    margin-bottom: 3rem;
    height: 16.6rem;
    width: 90%;
  }

  #header-q {
    font-size: 0.5rem;
  }
  .pokemon-card {
    height: 14rem;
    width: 30rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .list-text {
    font-weight: 700;
    font-size: 2rem;
  }
  #logo-img {
    height: auto;
    width: 10rem;
    margin: 3rem;
    margin-top: 3rem;
  }
}
/* @media (min-width: 0px) and (max-width: 360px) {
  #header-container {
    margin: 2.5rem;
    margin-top: 0px;
    margin-bottom: 3rem;
    height: 16.6rem;
    width: 90%;
  }

  #header-q {
    font-size: 0.5rem;
  }
  .pokemon-card {
    height: 14rem;
    width: 30rem;
    margin-right: 19px;
    display: flex;
    align-items: center;
  }
  .list-text {
    font-weight: 700;
    font-size: 2rem;
  }
  #logo-img {
    height: auto;
    width: 10rem;
    margin: 3rem;
    margin-top: 3rem;
  }
} */
